.jumbotron {
    background-color: black;
}

.bg {
    background-color: #0EDE4A;
}

.sep {
    margin: 0px auto;
    padding: 20px 0px;
    border-bottom: 1px ridge;
    min-height: 300px;
}

.footer {
    background-color: black;
    color: floralwhite;
    margin: 0px auto;
    padding: 20px 0px;
}